@import url('https://fonts.googleapis.com/css?family=Acme');
@import url('https://fonts.googleapis.com/css?family=Caveat');


a, a:hover {
  text-decoration: none;
  color: black;
}


.title {
  font-family: 'Acme', sans-serif;
  color:#1E97D3;
}

#icon {
    color:#1E97D3;
}

#quote-window {
  background: #F9F9F9;
}


#quote-content {
  font-family: 'Caveat', cursive;
  font-size: 35px;
}

#quote-author {
  font-style: italic;
  font-size: 25px;
  font-weight: bold;
  color: #1E97D3;
}


#buttons {
  background: #F9F9F9;
  margin-top: 40px;
  font-size: 20px;
  padding: 10px 10px 10px 10px;
}


#new-quote {
  color: white;
  float: right;
  background: #1E97D3;
  border: none;
  border-radius: 5%;
  width: 100px;
}

#tweet {
  color: white;
  float: left;
  background: #1E97D3;
  border: none;
  border-radius: 5%;
  width: 100px
}

footer {
  color: #b9b9b9;
  font-weight: 100; 
}

footer a {
  color: #b9b9b9;
}

footer a:hover {
  text-decoration: underline;
  color: #b9b9b9;
}